*{
    margin:0;
    font-family: sans-serif;
}
.mainimg{
    
}
.header{
position: relative;
   color: black;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}
.top{
    display: flex;
    gap:10px;
    width:100%;
    color:white;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top:20px;  
}
.mid{
    display: flex;
    gap:20px;
}
.vot{
    padding:15px;
    border-radius: 10px;
    font-weight: 500;
    background-color: #07AF91;
    color:white;
    border: none;
}
.menu{
    display: none;
}
.text{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    position: absolute;
    left:100px;
    color: white;
}
.zayv{
    width:50%;
    padding:20px;
    border-radius: 10px;
    border: none;
    color:white;
    background-color: #016CA8;
    font-weight: 600;
}
.h1{
    padding:50px;
    color: #1178B2;
}
.section1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:50px;
    flex-direction: column;

}
.topone{
  display: flex;
    align-items: center;
    justify-content: center;
    gap:50px;
   
}
.bottomone{
  display: flex;
    align-items: center;
    justify-content: center;
    gap:150px;
    margin-top: 50px;  
}
.left{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.know{
    width:40%;
    padding:20px;
    background-color: #07AF91;
    color:white;
    border-radius: 10px;
    border: none;
}
.row{
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
}
.info{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding:20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px grey;
    width:20%;
}
.section2{
    margin-top: 100px;
    position: relative;
}
.start{
    width:100%;
    background: linear-gradient(rgba(0, 0, 0, 0.508),rgba(128, 128, 128, 0.497)),url(./startup\ 3.png);
    background-size: cover;
}
.tex{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    position: absolute;
    top:100px;
    left:300px;
}
@media(max-width:510px){
    .menu{
        display: block;
    }
    .topone, .bottomone{
        flex-direction: column;
        row-gap: 20px;
        flex-wrap: wrap;
        width:90%;
    }
    .h1{
        justify-content: center;
        align-items: center;
    }
    .row{
        flex-direction: column;
        row-gap: 10px;

    }
}