*{
    margin:0;
    font-family: sans-serif;
}

.header{
position: relative;
   color: black;
   display: flex;
   flex-direction: column;
   width:100%;
   height:100vh;
   justify-content: space-around;
   background: linear-gradient(rgba(0, 0, 0, 0.377),rgba(128, 128, 128, 0.262)),url("./uae-4-2048x1367\ 2.png");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
.top{
    display: flex;
    gap:10px;
    width:100%;
    color:white;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top:20px;  
}
.mid{
    display: flex;
    gap:20px;
}
.vot{
    padding:15px;
    border-radius: 10px;
    font-weight: 500;
    background-color: #07AF91;
    color:white;
    border: none;
}
.menu{
    display: none;
}
.text{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    position: absolute;
    left:100px;
    color: white;
}
.zayv{
    width:50%;
    padding:20px;
    border-radius: 10px;
    border: none;
    color:white;
    background-color: #016CA8;
    font-weight: 600;
}
.h1{
    padding:50px;
    color: #1178B2;
}
.section1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:50px;
    flex-direction: column;

}
.topone{
  display: flex;
    align-items: center;
    justify-content: center;
    gap:50px;
   
}
.bottomone{
  display: flex;
    align-items: center;
    justify-content: center;
    gap:150px;
    margin-top: 50px;  
}
.left{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.know{
    width:40%;
    padding:20px;
    background-color: #07AF91;
    color:white;
    border-radius: 10px;
    border: none;
}
.row{
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
}
.info{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding:20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px grey;
    width:20%;
}
.section2{
    margin-top: 100px;
    position: relative;
     width:100%;
   height:60vh;
   
   background: linear-gradient(rgba(0, 0, 0, 0.377),rgba(128, 128, 128, 0.262)),url("./startup\ 3.png");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
.start{
    width:100%;
    background: linear-gradient(rgba(0, 0, 0, 0.508),rgba(128, 128, 128, 0.497)),url(./startup\ 3.png);
    background-size: cover;
}
.tex{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    position: absolute;
    top:100px;
    left:300px;
}
.line{
    justify-content: center;
    align-items: center;
    padding:15px;
    
    display: flex;
    display: grid;
    grid-template-columns:200px 200px 200px 200px ;
  

}
.it{
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #016CA8;
    padding:10px;
    text-align: center;
    color:white;
    font-weight: 600;
}
.it1{
    grid-column-start: 2;
    grid-column-end: 3;
background-color: #EEF1F4;
padding:10px;
text-align: center;
color:grey;
}
.it2{
    grid-column-start: 3;
    grid-column-end: 4;  
background-color: #EEF1F4;
padding:10px;
text-align: center;
color:grey;
}

.it3{
    grid-column-start: 4;
    grid-column-end: 5; 
    background-color: #EEF1F4;
    padding:10px;
    text-align: center;
    color:grey; 
}
.section3{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    position: relative;
}
.map{
    width:60%;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap:200px;
    top:200px;
    left:200px;
}
.cenright,.cenleft{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.duo{
    display: flex;
    gap:20px;
}
.cardl{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 15px grey;
    background-color: white;
}
.foto{
    align-items: center;
    display: flex;
    gap:10px;
}
.bot3{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
}
.row3{
    display: flex;
    gap:20px;
    align-items: center;
    justify-content: baseline;
}
.card3{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding:30px;
    border-radius:20px ;
    box-shadow: 0px 0px 15px grey;

}
.pause{
    margin-top: 50px;
    position: relative;
}
.on{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    position: absolute;
    justify-content: center;
    align-items: center;
    top:320px;
    left:500px;
}
.ps{
  width:130px;  
}
.pst{
    color:white;
}

.program {
  max-width: 900px;
  margin-top: 100px;
  margin: auto;
  padding: 50px;
}

.title {
  color: #003366;
  font-size: 28px;
  margin-bottom: 40px;
}

.module {
  background-color: white;
  border: 1px solid #cfdbe6;
  border-radius: 10px;
  margin-bottom: 12px;
  padding: 20px 25px;
}

.module-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.module-info {
  display: flex;
  align-items: center;
}

.module-name {
  color: #0066ff;
  font-weight: bold;
  margin-right: 20px;
  
}

.module-text {
  color: #222;
  font-weight: bold;
  font-size: 16px;
}

.arrow, .arrow-down {
  width: 32px;
  height: 32px;
  background-color: #0055ff;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-weight: bold;
}

.module-content {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #eef2f5;
}

.module-content p {
  color: #555;
  font-size: 14px;
  margin-bottom: 10px;
}

.module-footer {
  color: #0066ff ;
  margin-top: 15px;
  font-weight: 500;
}

.demo-day {
  margin-top: 30px;
  margin-left: 25px;
  color: #0066ff;
  font-weight: bold;
}

.btn {
  background-color: #4db8ff;
  color: white;
  border: none;
  padding: 18px 35px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  margin-top: 30px;
  
}
.blue{
    position: relative;
   
}
.ob{
    display: flex;
    gap:100px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:-100px;
    padding: 80px;
}
.rigblue{
    display: flex;
    flex-direction: column;
    row-gap:-100px;

}
.imrow{
    display: flex;
    gap:20px;
}
.lefblue{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    color:white;

}
.zap{
    padding:20px;
    width:70%;
    color:white;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    background-color:#07AF91 ;
   
}
.section4{
    margin-top: 100px;

}
.row4{
    display: flex;
    gap:50px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.section5 {
  max-width: 1100px;
  margin:  auto;
  margin-top: 100px;
}

.title5 {
  color: #1178B2;
  font-size: 28px;
  margin-bottom: 40px;
}

.wrap5 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.card5 {
  background-color: white;
  border-radius: 15px;
  padding: 30px;
  display: flex;
  box-shadow: 0px 0px 10px grey;
  flex-direction: column;
  width: 33%;
}

.icon5 {
  font-size: 40px;
  margin-bottom: 20px;
 
  align-self: center;
}

.name5 {
  color: #222;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 25px;
  height: 50px;
}

.head5 {
  color: #555;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 15px;
}

.list5 {
  margin-bottom: 30px;
}

.item5 {
  color: #666;
  font-size: 13px;
  margin-bottom: 8px;
}

.row5 {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  color: #555;
}

.blue5 {
  font-weight: 700;
  color: #0066ff;
}

.buy5 {
  background-color: #1178B2;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 8px;
  font-weight: 700;
  margin-top: 25px;
  
}
.title4, .title6 {
  color: #1178B2;
  font-size: 28px;
  margin-left: 200px;
}
.section6{
    margin-top: 100px;
}
.o6{
    display:flex ;
    justify-content: center;
    align-items: center;
    gap:100px;
}
.rig6{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.section7{
    padding: 20px;
}
.big{
    margin-top: 100px;
    display: flex;
    box-shadow: 0px 0px 10px grey;
    justify-content: center;
    align-items: center;
   border-radius: 10px;
    gap:100px;
}
.rigbig{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.imrow6{
    margin-top: 100px;
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
}




@media(max-width:510px){
    .menu{
        display: block;
    }
    .mid{
        display: none;
    }
    .topone, .bottomone{
        flex-direction: column;
        row-gap: 20px;
        flex-wrap: wrap;
        width:90%;
    }
    .h1{
        justify-content: center;
        align-items: center;
    }
    .row{
        flex-direction: column;
        row-gap: 10px;

    }
    .section1{
        width:80%;
    }
    .topone{
        flex-direction: column-reverse;
    }
    .pp{
        width:90%;
    }
    .imr{
        width:90%;
    }
    .card{
        width:80%;
    }
    .tex{
        left:30px;
        top:10px;
        width:80%;
    }
    .line{
        width:70%;
      display: none;
        justify-content: center;
        align-items: center;
    }
    .it, .it1, .it2, .it3{
        width:80px;
    }
    .map{
        width:90%;
    }
    .center{
        flex-direction: column;
        left:-100px;
        top:-30px;
        row-gap: 30px;
    }
    .duo{
        width: 60%;
        margin-left:150px;
    }
    .row3{
        flex-direction: column;
        row-gap: 20px;
        width:100%;
        
    }
    .bot3{
        margin-top: 600px;
       
    }
    .card3{
        width: 80%;
        display: flex;
    }
    .on{
        left:40px;
        top:40px;
    }
    .ps{
        width:60px;
    }
    .pst{
font-size: 20px;
    }
    
  .module {
    padding: 15px;
  }

  .module-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .module-name {
    margin-bottom: 5px;
    font-size: 14px;
  }

  .module-text {
    font-size: 14px;
  }

  .title {
    font-size: 22px;
  }

  .btn {
    width: 100%;
    font-size: 14px;
  }
  .bl{
    height:50vh
  }
  .lefblue{
    margin-top:30px;
  }
  .ob{
    flex-direction: column;
    
  }
  .section4{
    margin-top:1100px;
  }
  .row4{
    flex-direction: column;
  }
  .wrap5 {
    flex-direction: column;
  }
  
  .card5 {
    width: auto;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .title5 {
    font-size: 24px;
    text-align: center;
  }
  
  .name5 {
    height: auto;
    margin-bottom: 15px;
  }
  .section6{
    flex-direction: column;
  }
  .snim{
width:90%;
  }
  .o6{
    flex-direction: column;
  }
  .big{
    flex-direction: column-reverse;
    width:89%;
    padding: 10px;
  }
  .imrow6{
    flex-direction: column;
  }
  .im6{
    width: 90%;
  }
}
